* {
    padding: 0px;
    margin: 0px;
    font-family: 'Bahnschrift', 'DIN Alternate', sans-serif;
    text-decoration: none;
}
header {
    background-color: #666666;
    position: fixed;
    width: 100%;
}
nav {
    display: inline-flex;
}
a + .drop-down {
    display: none;
}
a:hover + .drop-down, .drop-down:hover {
    display: block;
}
nav a {
    margin: 5px;
    margin-right: 40px;
    font-size: 30px;
    background-color: #888888;
    padding: 3px;
    border-radius: 4px;
}
nav div {
    width: 150px;
    font-size: 20px;
    background-color: #FFFFFF;
}
main {
    text-align: center;
}
.big-block {
    max-width: 700px;
    min-width: 700px;
    border-radius: 3px;
    background-color: #666666;
    margin-top: 2px;
    margin-bottom: 10px;
    display: inline-block;
    color: #000000;
    text-align: left;
}
.bigger-block {
    max-width: 1000px;
    min-width: 1000px;
    border-radius: 3px;
    background-color: #666666;
    margin-top: 2px;
    margin-bottom: 10px;
    display: inline-block;
    color: #000000;
    text-align: left;
}
.distance-from-header {
    padding-bottom: 100px;
    font-size: 1px;
}
.flex {
    display: inline-flex;
}
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
td, th {
    max-width: 200px;
    text-overflow: ellipsis;
}
input {
    width: 70%;
    box-sizing: border-box;
    display: block;
}
p {
    display: inline-block;
}
#buttonDelete {
    background-color: #b83d3d;
}
#buttonEdit {
    background-color: #42ac42;
}
button {
    border: 0px;
}
fieldset {
    border-color: #000000;
}
@keyframes error-animation {
	0% {
		color: #FF0000;
	}
    50% {
		color: #700000;
	}
    100% {
        color: #FF0000;
    }
}
@keyframes not-error-animation {
	0% {
		color: #00ff00;
	}
    50% {
		color: #007013;
	}
    100% {
        color: #00ff00;
    }
}
@media (max-width: 770px) {
    .big-block {
        max-width: 100%;
        min-width: 100%;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
}