<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="Description" content="Sie können Produkte und Kategorien erstellen, anzeigen, bearbeiten und löschen">
        <meta name="keywords" content="erstellen, anzeigen, bearbeiten, löschen, produkte, Kategorien">
        <link rel="stylesheet" href="../../style/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="#">Produkte</a>
                    <div class="drop-down">
                        <a href="../../product/view/product-Create.html">Create</a>
                        <a href="../../product/view/product-list.html">List</a>
                        <a href="../../product/view/product-list-one.html">ListOne</a>
                    </div>
                </div>
                <div>
                    <a href="#">Kategorien</a>
                    <div class="drop-down">
                        <a href="kategorie-Create.html">Create</a>
                        <a href="kategorie-list.html">List</a>
                        <a href="kategorie-list-one.html">ListOne</a>
                    </div>
                </div>
                <a href="../../login/login.html">LogIn</a>
            </nav>
        </header>
        <p class="distance-from-header" alt=".">yrs</p>
        <main>
            <div class="big-block">
                <h1>Kategorie bearbeiten</h1>
                <span>Name: <input value="Thing" id="name"></span>
                <span>Active: <input type="checkbox" id="active"></span>
                <button id="edit">BESTÄTIGEN</button>
                <p id="login-problem"></p>
            </div>
            <br>
            
        </main>
        <footer>
            <p>(C) Dominic Streit</p>
        </footer>
        <script src="../controler/kategorie-edit.js"></script>
    </body>
</html>