<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="Description" content="Sie können Produkte und Kategorien erstellen, anzeigen, bearbeiten und löschen">
        <meta name="keywords" content="erstellen, anzeigen, bearbeiten, löschen, produkte, Kategorien">
        <link rel="stylesheet" href="../../style/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="#">Produkte</a>
                    <div class="drop-down">
                        <a href="#">Create</a>
                        <a href="#">List</a>
                        <a href="#">ListOne</a>
                    </div>
                </div>
                <div>
                    <a href="#">Kategorien</a>
                    <div class="drop-down">
                        <a href="#">Create</a>
                        <a href="#">List</a>
                        <a href="#">ListOne</a>
                    </div>
                </div>
                <a href="../../login/login.html">LogIn</a>
            </nav>
        </header>
        <p class="distance-from-header" alt=".">yrs</p>
        <main>
            <div class="big-block">
                <span>ID: <p id="id"></p></span>
                <span>Name: <p id="name"></p></span>
                <span>Active: <p id="active"></p></span>
                <p id="login-problem"></p>
            </div>
            <br>

        </main>
        <footer>
            <p>(C) Dominic Streit</p>
        </footer>
        <script src="../controler/kategorie-list-one.js"></script>
    </body>
</html>